
* {
  padding: 0;
  margin: 0; 
  
}

html {
  box-sizing: border-box;  
}

body {
 background: #f6f9fd;    
}

.container {
  width: 75%;
  height: 50em;
  margin: 0 auto;
}

.container h1 {
  font: 900 1.8em Helvetica, sans-serif;  
  text-align: center;
  margin-top: 120px;
  color: #000;
}

form {
 width: 35%;
 height: 20em;
 margin: 65px auto 0 auto;
 padding: 50px 0;
 display: block;
 border: 1px solid #ccc;
 background: #f6f9fd;
}

.txtFld {
  width: 75%;
  height: 25px;
  margin: 30px auto;
  display: block;
  border: 1px solid #ccc;
  background: #fafafa;
  outline: none;
}

form input[type='submit'] {
 width: 75%;
 height: 50px;
 margin: 5px auto;
 display: block;
 outline: none;
 border: none;
 background: #1a3e78;
 color: #fafafa;
 cursor: pointer;
}

@media(max-width: 1920px) {
   form {
     width: 65%;  
   } 
}

@media(max-width: 1024px) {
    form {
      width: 95%;  
    } 
 }

 @media(max-width: 400px) {
    .container h1 {
        margin-top: 100px;
        color: #000;
      }

    form {
      margin: 35px auto 0 auto;  
      width: 100%;  
    } 
 }